body {
		font-family: 				Verdana, Helvetica, sans-serif;
		font-size: 					small;
		background-color: 	#ffffff;
		}

.smallText {
		font-size:					xx-small;
		}

.mediumText {
		font-size: 					small;
		}

.largeText {
		font-size: 					large;
		}

#textSizer {
		text-align: 				right;
		}

.textSize {
		text-decoration:   	underline;
		}

p {
		text-align:     		justify;
	 	margin:         		0 20%;
		}

#navigation {
		background:     		white;
		color:          		maroon;
		text-align:     		right;
		}

#navigation ul {
		padding: 						0;
		}

#navigation li {
		display:        		block;
		margin:         		0;
		padding:        		0;
		width:          		600px;
		}

#navigation a {	
		text-decoration:		none;
		display:        		block;
		}

#navigation a:hover {
		text-decoration:		none;
		color:          		gray;
		}